@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 14px;

  }
  html {
    font-size: 100%;
}

header 
 {

 width: 100%;
  height: 300px;
  
  justify-content: space-between;
  align-items: center;

background-color: rgb(64, 173, 247);

} 

.container {
  width: 90%;
  max-width: 1000px;
  margin: 1.6em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5, 1fr);
}
.container {
  background: #fff;
  padding: 20px;
  border: 1px solid #000000;

}


.container .article {
 
  background: #808e9b;
  padding: 20px;
  margin-top: 5px;
  
  justify-content: center;
  align-items: center;
  display: inline-block;
  
  color: #dfe6e9
   
}
.container .article p {
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  
}

.container .inter {
  grid-column: span 9;
  grid-row: span 3;
  display: inline-block; 
  align-items: center;
  justify-content: center;
width: 96%;
 
  color: #ffffff;
  
}

.container .inter img {
  
  width: 95%;
  margin-top: 0px;
}

.abrir-menu {
  display: none;
}
.navBar {
display: flex;
justify-content: center;
 list-style: none;
 padding: 0;
 width: 100%;
 max-width: 1000px;
 margin: auto;
 
}
.navBar li a
{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    font-size: xx-large;

}
.navBar li {
    display: inline-block;
    text-align: center;

}
.navBar li a:hover{
    background: blue;
    
}
.menu-bar {
  display: none;

}
.section-principal
{

width: 100%;
height: 12.5rem;
text-align: center;
background-color: aliceblue;
background-repeat: no-repeat;
background-position: center;
background-size: 50% 100%;
}


  .social-icon {
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  
}

footer{
  
background-color: rgb(64, 173, 247);
  padding: 18px 4px;
  cursor: pointer;
  width: 110%;
  bottom: 0; 
  box-shadow: inset 0px 0px 0px 2px rgba( 255, 255, 255, 1 );
  border-radius: 3px;
  border: solid 1px rgba( 0, 0, 0, 0.2);
  color: rgba( 255, 255, 255, 1 );
  font-size: 12px;
  font-weight: bolder;
  text-align: center
    
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: 286bcf;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: 286bcf;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: rgb(64, 173, 247);
    padding: 20px;
    text-align: center;
    flex-direction: row;  
       font-size: 1.875rem;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.socialIcons a{
        padding: 8px;
        margin: 4px;
    }

    .messias {
text-align: center;
font-size: 3em;
    }

    .ti{
      flex-direction: column;
        text-align: center;

        color: black;
        margin: 0.5rem 0.2rem;
        font-size: 2em;
        
    } 

    .s{
    text-align: center;
    max-width: 100%;
 max-height: 100%;  
  
    }
    
    .w {
        text-align: center;
        font-size: 2em;
        flex-direction: row;  
    }

    .boton button
  {
    display: block;
      align-items: center;  
    justify-content: center;
    padding:20px 30px;
    border-radius: .625rem;
    font-weight: .625rem;
    margin: 20px 700px;
    text-decoration: none;
    background-color:#df05f3
    
}
.boton button:hover {
  background-color: transparent;
  border: 2px solid;
  cursor: pointer;
}
    .tomate {
      text-align: center;
      flex-direction: row;
    }

   
    
    .mba {
      padding:20px 30px;
      border-radius: .625rem;
      font-weight: .625rem;
      background-color: #808e9b;

      text-align: center;
        font-size: 3em;
        flex-direction: row;
    }
    .mba1 {
      text-align: center;
        font-size: 2em;
        flex-direction: row;
    }
    
    .hal {
      padding:20px 30px;
    border-radius: .625rem;
    font-weight: .625rem;
    background-color: #808e9b;
      text-align: center;
        font-size: 3em;
        flex-direction: row;

    }
    .hal1 {
      
    font-weight: .625rem;
      text-align: center;
      font-size: 2em;
      flex-direction: row;
    }

    .checkbtn{
      font-size: 30px;
      color: #fff;
      float: right;
      line-height: 80px;
      margin-right: 40px;
      cursor: pointer;
      display: none;
  }
  #check{
      display: none;
  
  }
    @media(max-width: 1024px){

      header {
        justify-content: space-between;
        
      }
      
      .footerContainer {
        flex-direction: row;  
       font-size: 1.875rem;
      }
      
      img .messito {
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100%;
      }
      
      .navBar li a{
         flex-direction: row;   
        font-size: 1.875rem;
        
      }
      .footerBottom {
        flex-direction: row;  
       font-size: 1.875rem;

      }
      .section-principal{
         
        background-size: contain;
          height: 18.75rem;
  
  
        }
        .messi {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          
        }
       
      .mba {
        text-align: center;
          font-size: 3em;
          grid: 0;
          flex-direction: row;
      }
      .mba1 {
        text-align: center;
          font-size: 2em;
          grid: 0;
          flex-direction: row;
      }
      
      .hal {
        text-align: center;
          font-size: 3em;
          grid: 0;
          flex-direction: row;
  
      }
      .hal1 {
        text-align: center;
        font-size: 2em;
        grid: 0;
        flex-direction: row;
       
  }
}
  @media(max-width:768px){
    
    .navBar li a{
      
      flex-direction: row;  
       font-size: larger;
       padding-left: 0;
       padding: 40px 20px;
       text-align: center;
       grid: 0;
       
      }
      
      
      .footerBottom {
        flex-direction: row;  
       font-size: 1.875rem;

      }
      header{
          flex-direction: row; 
          justify-content: space-between;
          
        ;      
      }
      .section-principal{
         
      background-size: contain;
        height: 18.75rem;


      }
      .messi {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
      }
        
        .mba {
          text-align: center;
            grid: 0;
            flex-direction: row;
        }
        .mba1 {
          text-align: center;
            grid: 0;
            flex-direction: row;
        }
        
        .hal {
          text-align: center;
          grid: 0;
          flex-direction: row;
        
        }
        .hal1 {
          text-align: center;
          
          grid: 0;
          flex-direction: row;
         
        }
      
      }
  
  @media(max-width: 425px){
    .checkbtn{
      display: block;}

     .navBar{
     
      position:relative;
      font-size:x-small;
      display:flex;
      grid: 0;
      width: 90%;
      height: 100vh;
      top:10px;
      margin: 0;
      left: -120%;
       justify-content: space-between;
      text-align: center;
      transition: all .5s;
     }
     .navBar ul li {
      display: block;
      margin: 50px 0;
      line-height: 10px;

     }
     .navBar ul li a {
      font-size: 20px;
     }
     li a:hover,li a.active {
      background: none;
      color:red;
     }
#check:checked ~ ul {
  left: 0;
}
   

    .footerBottom {
      justify-content: center;
      font-size: small;
    }
    
   

.section-principal {
  justify-content: center;
  background-size: contain;
  

}
.messi {
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.mba {
  text-align: center;
    font-size: 2em;
    flex-direction: row;
}
.mba1 {
  text-align: center;
    font-size: 1.5em;
    flex-direction: row;
}

.hal {
  text-align: center;
    font-size: 2em;
    flex-direction: row;

}
.hal1 {
  text-align: center;
  font-size: 1.5em;
  flex-direction: row;  
}
  }